@use "@entrypoint/styles/colors" as *;

.header {
  display: flex;
  justify-content: space-between;
  gap: 1.75rem;
  width: 100%;
}

.username {
  font-size: 1rem;
  line-height: 120%;
  color: $text-primary;
  font-weight: 500;
}

.statusesContainer {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.time {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 100%;
  color: $text-tertiary;
}
