.bubble {
  position: relative;

  border-radius: 1.125rem;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

.content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;

  text-wrap-mode: wrap;
  text-wrap-style: pretty;

  color: var(--gr-100);
}

.time {
  position: absolute;
  right: 0.6rem;

  bottom: 0.24rem;
  font-weight: 300;
  font-size: 0.75rem;

  font-variant-numeric: tabular-nums;

  color: var(--gr-400);
}
