:root {
  --gr-800: #090909;
  --gr-700: #121212;
  --gr-600: #181818;
  --gr-400: #817f7f;
  --gr-100: #edf1f4;

  --purple-700: #282741;
  --purple-300: #8c88e5;

  --orange-600: #a15a29;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090909;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
