@use "@entrypoint/styles/colors" as *;

.messageContinainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  gap: 1.75rem;
}

.message {
  text-overflow: ellipsis;
  text-wrap: nowrap;

  font-weight: 300;
  font-size: 1rem;
  line-height: 120%;
  color: $text-tertiary;
}
